body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-bottom: solid 3px #5a6d08;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

h1 {
  color: #93ad18;
}

h2 {
  color: #5a6d08;
  margin-top: 50px;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  left: 15px;
  height: 80px;
}
.nav {
  position: absolute;
  right: 15px;
  display: flex;
  margin-bottom: 6px;
}

.nav a {
  font-weight: bold;
  color: black;
  background-color: #93ad18;
  text-decoration: none;
  margin-right: 14px;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #93ad18;
}

.inactive {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employees-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  background-color: RGB(147, 173, 24, 0.1);
  border-radius: 10px;
  width: 600px;
  padding: 30px 0;
  box-shadow: 0px 0px 10px #5a6d08;
}

.employee-form {
  display: flex;
  flex-direction: column;
}

.address {
  margin-top: 10px;
}

.save {
  margin: auto;
  width: 30%;
  height: 25px;
  margin-top: 30px;
  color: white;
  background-color: #5a6d08;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.datepicker-header {
  display: flex;
  justify-content: center;
}

.datepicker-select {
  margin: 5px;
  width: 40%;
  height: 25px;
  border-radius: 4px;
}